:root{
    --theme-color : rgb(87, 176, 208);
}

header{
    height: 10vh;
    font-family: 'Crimson Text', serif;
}

body{
    height: 100vh;
    background-size:100%;
    background-position: center top -100px;    
    background-image: url(../img/holy-bible-black-and-white.jpg);
    backdrop-filter: blur(1px);
    font-family: 'Noto Serif SC', serif;
}
.theme-color{
    background-color: var(--theme-color);
    color: white;
}
.container{
    background-color: rgb(217, 241, 250);
}

input::placeholder {
    font-style: italic;
    font-size: x-small;
  }